* {
  box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
    
}
p,h5{
    padding: 0px 170px;
    padding-top: 5px;
}
.h4{
  padding: 0px 150px;
  padding-top: 5px;
  color: rgba(4, 14, 4, 0.829);
}
.muc{
  padding: 0px 180px;
}
.title{
  text-align: center;
  color: rgba(1, 3, 1, 0.712);
}
.title-details{
  text-align: center;
  color: rgba(7, 29, 16, 0.76);
  font-size: 35px;
}
img{
    padding: 2px 350px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 1300px;
}
.header {
  background-size: cover;
  background-image: url(../images/headertin.jpg);
  width:1290px;
  height: 500px;
}
.content>li{
  margin:0px 190px;
  color: rgba(54, 48, 48, 0.76);
}
/* Style the top navigation bar */
.menu{
  list-style: none;
  background-color: rgb(43, 146, 43);
  display: flex;
}
.menu>a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}
ul.menu>li{
  float: left;
}
ul.menu>li>a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}
ul.menu>li>a:hover,.menu>a:hover {
  color: rgb(170, 170, 170);
  text-decoration: underline;
  background-color: rgb(203, 247, 197);
}
ul.menu>li:hover>.sub-menu {
   display: block;
}
.right{
  float: right;
  display:flex;
  padding: 14px 16px;
  list-style: none;
  margin-left: 420px;
}
.right>li>a{
  text-decoration: none;
  color: white;
  padding-left: 16px;
}
ul.menu>.right>li>a:hover{
  color: rgb(170, 170, 170);
  text-decoration: underline;
  background-color: rgb(203, 247, 197);
}
.sub-menu{
  border-radius: 5px;
  list-style: none;
  width: 250px;
  position: absolute;
  display: none;
  height: 150px;
}
.sub-menu>ul{
  position: relative;
  display: block;
}
.sub-menu>li>a{
  text-decoration: none;
  padding-left: 25px;
  color: white;
  background-color: rgb(130, 201, 130);
  display: block;
}
.sub-menu>li>a:hover{
  color: rgb(170, 170, 170);
  text-decoration: underline;
  background-color: rgb(203, 247, 197);
  display: block;
}
.font-small{
    text-align: center;
}

.footer {
  height: 200px;
  background-color: #93ac98;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 100px;
  width: 1290px;
  display: flex;
}
.footer a {
  color: rgb(34, 42, 44);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.text-footer{
 padding: 5px 40px;
}
.img-footer{
  width: 180px;
  padding: 0px 0;
}